<h2>Is it a square?</h2>

<h3>Enter the length and width, then click "Submit" to find out if your shape is a square.</h3>

<form action="/" method="post">
  <label for='length'>Enter Length</label>
  <input placeholder="length" id="length" name="length" type="number">

  <label for='width'>Enter Width</label>
  <input placeholder='width' id='width' name='width' type='number'>

  <button type="submit" class="btn-success">Submit</button>
