<!DOCTYPE html>

<html>
  <head>
    <title>Shapes</title>
    <link rel='stylesheet' href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrapmincss">
  </head>

  <body>
    <div class="container">

      <%= yield %>

    </div>

  </body>

</html>
